<div>
  <form action ="/resource/" method = "post">
       <table>
         <tr> <th>Headings:</th><th>Desciptions:</th> </tr>
         <tr> <th>Name / description: </th>
           <td><input placeholder="Name" type="text" name="name"/>
           </td>
         </tr>
         <tr> <th>Position: </th>
           <td><input placeholder="Job Description" type="text" name="type"/>
           </td>
         </tr>
         <tr> <th>Rate Per Hour </th>
           <td><input placeholder="$$$" type="text" name="rate_per_hour"/>
           </td>
         </tr>
     </table>
     <input type="submit" name = "submit" value = "submit" />
   </form>


</div>
